.dashboard {
  display: flex;
}

.dashboard-container {
  flex: 1;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
}

.dashboard-chart-row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex: 1;
}

.dashboard-chart {
  flex: 1;
  min-width: 400px;
  margin: 0 10px;
}

@media screen and (max-width: 1000px) {
  .widget-container {
    flex-direction: column;
    width: 70%;
    margin: 0 5%;
  }
}
